@import '~mpa-common-library/css/_base.styl'

.service-worker
  padding: 100px
  .title
    font-size: 40px
    text-align: center
    color: red
  .desc
    text-align: center
    margin-top: 5px
  .notification-btn,
  .request-notification-btn,
  .subscribe-push-btn,
  .push-btn
    display: block
    margin: 30px auto 0
  .devider
    margin-top: 50px
    text-align: center